.info {
	position: absolute;
	width: 40vw;
	top: 10.5vw;
	left: 7.5vw;
}

.sevenPositionTextClick {
	top: 28.5vw;
	right: 23vw;
}
.sevenPositionTextMore {
	top: 37.5vw;
	right: 38vw;
}

.sevenPositionText {
	top: 45vw;
	right: 23.5vw;
}

.home {
	position: absolute;
	right: 0;
	z-index: 1;
	top: -7vw;
}

.btmText {
	position: absolute;
	width: 40.5vw;
	bottom: 10vw;
	right: 11.5vw;
}

.threePositionTextClick {
	bottom: 21.5vw;
	left: 18vw;
}

.threePositionTextMore {
	bottom: 12.5vw;
	left: 23vw;
}

.threePositionText {
	bottom: 3vw;
	left: 8.5vw;
}
