.info {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 84vw;
	top: 12vw;
	left: 8vw;
}

.title {
	margin: 0 0 19vw;
	text-align: center;
}

.btn {
	margin: 0;
	padding: 0.25vw 3vw;
	font-weight: 400;
	font-size: 2.2vw;
	line-height: 3vw;
	border-radius: 60px;
	z-index: 1;
}
