@font-face {
	font-family: 'Michroma-Regular';
	src: url(./fonts/Michroma-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Monda-Regular';
	src: url(./fonts/Monda-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
	width: 100vw;
	color: #13424b;
	font-family: 'Michroma-Regular', 'Montserrat';
	font-size: 1.25vw;
	line-height: 1.5vw;
	letter-spacing: 0.12em;
	overflow-x: hidden;
}

button {
	border-style: none;
	color: #13424b;
	font-family: 'Michroma-Regular', 'Montserrat';
}

.positionContainer {
	margin: 0 auto;
	position: relative;
	width: 100%;
}

.title {
	margin: 0;
	font-weight: 400;
	font-size: 2.2vw;
	line-height: 3vw;
}

.subtitle {
	margin: 0 0 4.5vw;
	font-weight: 400;
	font-size: 2vw;
	line-height: 3vw;
}

.text {
	margin: 0;
	font-family: 'Monda-Regular', 'Montserrat';
	font-size: 1.25vw;
	line-height: 2.35vw;
}
