@font-face {
	font-family: 'Michroma-Regular';
	src: url(./fonts/Michroma-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Monda-Regular';
	src: url(./fonts/Monda-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
	width: 100vw;
	color: #13424b;
	font-family: 'Michroma-Regular', 'Montserrat';
	font-size: 27px;
	line-height: 30px;
	letter-spacing: 0.12em;
	background: linear-gradient(
		180deg,
		#e9ef90 0%,
		#b2bd74 26.04%,
		#7ab579 53.12%,
		#53866c 78.12%,
		#186357 96.6%
	);
	background-repeat: no-repeat;
	overflow-x: hidden;
}

button {
	border-style: none;
	color: #13424b;
	font-family: 'Michroma-Regular', 'Montserrat';
}

.positionContainer {
	margin: 0 auto;
	position: relative;
	width: 100%;
	/* max-width: 1920px; */
}

.text {
	margin: 0;
	font-family: 'Monda-Regular', 'Montserrat';
	font-size: 1.25vw;
	line-height: 2.5vw;
}
